.contact_feedback_button {
  padding: 20px 140px;
  width: max-content;
  background: #4b4646;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  box-shadow: 3px 5px 4px 2px #6100001A;
}

.contact_feedback_button:hover {
  background: #2d2929;
}

.button_gallery {
  padding-inline: 5%;
  border: 1px solid #CECECE;
  background: #FFFFFF;
  font-size: inherit;
  cursor: pointer;
}

.button_gallery:hover {
  background: #e9e9e9;
}

.section_button {
  padding: 1.5vw 8vw;;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  cursor: pointer;
}

.section_button:hover {
  background: #e9e9e9;
  border: 1px solid #e9e9e9;
}

.button_white {
  padding: 20px 90px;
  width: max-content;
  height: max-content;
  background: #FFFFFF;
  border: 1px solid #CECECE;
  cursor: pointer;
}

.button_white:hover {
  background: #e9e9e9;
  border: 1px solid #e9e9e9;
}

.button_white:disabled {
  border: 1px solid #e9e9e9;
  background: #FFFFFF;
  cursor: auto;
}

.delete_order {
  display: flex;
  flex-direction: row;
  align-self: end;
  gap: 1rem;
  width: min-content;
}

.delete_icon {
  width: 1.5rem;
}

.delete_button {
  position: relative;
  bottom: -2px;
  font-size: 0.9rem;
  cursor: pointer;
  color: #6F6F6F;
  border: none;
  background: none;
}

.delete_category {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.3rem;
}

.delete_icon_category {
  width: 0.8rem;
}

.delete_button_category {
  padding: 0;
  font-size: 0.8rem;
  cursor: pointer;
  color: #6F6F6F;
  border: none;
  background: none;
}

.button_white:active,
.section_button:active,
.button_gallery:active,
.contact_feedback_button:active {
  transform: translate(2px, 2px);
  box-shadow: none;
}
