.data_field {
  display: flex;
  justify-content: space-between;
}

.data_label {
  margin-bottom: 1.5rem;
  cursor: pointer;
}

.data_checkbox {
  margin-right: 30px;
}

.data_cost {
  font-size: 14px;
  color: #6F6F6F;
}

@media (max-width: 340px) {
  .data_field {
    flex-direction: column;
    margin-bottom: 1.5rem;
  }
  
  .data_label {
    margin-bottom: 1rem;
  }
  .data_cost{
    margin-left: 3rem;
  }
}