.log_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 100px;
}

.log {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 450px;
}

.log_text {
  max-width: 450px;
  text-align: center;
}

.registration_label {
  font-size: 14px;
}

.log_alternative {
  margin-top: 20px;
}

.log_link {
  text-decoration: none;
  color: black;
}

.log_link:hover {
  text-decoration: underline;
}

@media (max-width: 500px) {
  .log_wrapper {
    margin-inline: 1rem;
  }
  
  .log {
    min-width: 100%;
    text-align: center;
  }
  
  .registration_label {
    text-align: left;
  }
}