.wrapper_slider {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide1 {
  background-image: url("/png/Rectangle_33.png");
  background-position: left;
}

.slide2 {
  background-image: url("/png/photo_3.jpg");
  background-position: right;
}

.slide3 {
  background-image: url("/png/photo.jpg");
  background-position: 40%;
}

.slide4 {
  background-image: url("/png/photo_6.jpg");
  background-position: 60%;
}

.background {
  width: 100%;
  height: 100%;
}

.section_contain {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  color: white;
}

.locate_right {
  right: 0;
}

.locate_left {
  left: 0;
}

.contain_text {
  font-weight: 400;
  font-size: 2.5vw;
}

.contain_title {
  width: 25vw;
  text-align: center;
  font-weight: 500;
  font-size: 4vw;
  margin-block: 2vw;
}

.moveSubLeft {
  animation: 3s linear 0s 1 both subLeft;
}

@keyframes subLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.moveMainLeft {
  animation: 3s linear 0s 1 both mainLeft;
}

@keyframes mainLeft {
  from {
    transform: translateX(0%);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.moveSubRight {
  animation: 3s linear 0s 1 both subRight;
}

@keyframes subRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.moveMainRight {
  animation: 3s linear 0s 1 both mainRight;
}

@keyframes mainRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.showBlock {
  animation: 3s linear 0s 1 both showOpacity;
}

@keyframes showOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hideBlock {
  animation: 3s linear 0s 1 both hideOpacity;
}

@keyframes hideOpacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (max-width: 700px) {
  .section_contain {
    width: 100%;
  }
  
  /*.section_contain {*/
  /*  bottom: 16rem;*/
  /*}*/
  
  .slide1 {
    background-position: 10%;
  }
  
  .slide2 {
    background-position: 80%;
  }
  
  .slide3 {
    background-position: 27%;
  }
  
  .slide4 {
    background-position: 80%;
  }
}