.personalData {
  grid-column: 1;
  grid-row-start: 3;
  grid-row-end: 4;
  max-width: 1175px;
  width: 100%;
  justify-self: center;
  margin: 10px 0 100px;
}

.personalData_title {
  margin: 0;
}

.personalData_contain {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.personal_information {
  grid-column: 1;
  display: flex;
  flex-direction: column;
}

.dataUser {
  display: flex;
  flex-direction: column;
  margin: 30px 130px 10px 0;
}

.notifications_checkbox {
  width: 340px;
  display: flex;
  gap: 12px;
}