.header_search {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 2rem;
  right: 2rem;
}

.search_magnifying {
  position: absolute;
  margin-inline: 0.5rem;
}

.search_input {
  max-width: 14rem;
  min-width: 3rem;
  width: 100%;
  height: 2rem;
  border: none;
  border-bottom: solid 3px grey;
  padding-left: 2rem;
  background: none;
}

.search_input:focus-visible {
  outline: none;
}

.search_input::placeholder {
  position: relative;
  font-size: 1rem;
  color: grey;
}

.search_input:focus::placeholder {
  left: 0;
}
@media (max-width: 700px) {
  .header_search{
    right: 4rem;
  }
}@media (max-width: 430px) {
  .header_search{
    right: 2rem;
  }
}