.footer {
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 40px;
  border-top: 1px solid #C4C4C4;
}

.footer_contain {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
}

.footer_block {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer_section {
  display: flex;
  flex-direction: column;
}

.footer_listName {
  display: flex;
  font-weight: bold;
}

.footer_listName:hover {
  cursor: default;
}

.footer_list {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
}

.footer_list:hover {
  cursor: pointer;
  opacity: 0.6;
}

.footer_text {
  color: #CECECE;
  text-align: center;
}

.footer_arrow {
  display: none;
}

@media (max-width: 500px) {
  .footer_contain {
    display: grid;
    gap: 1rem;
  }
  
  .footer_contain > .logo {
    grid-row-start: 4;
  }
  
  .footer_block {
    align-items: center;
    gap: 0.5rem;
  }
  
  .footer_section {
    align-items: center;
  }
  
  .footer_column_mob {
    height: 0;
    overflow: hidden;
  }
  
  .open_menu {
    animation: 0.2s linear 0s 1 both open_block;
  }
  
  @keyframes open_block {
    from {
      height: 100px;
    }
    to {
      height: 0;
    }
  }
  
  .close_menu {
    animation: 0.2s linear 0s 1 both close_block;
  }
  
  @keyframes close_block {
    from {
      height: 0;
    }
    to {
      height: 100px;
    }
  }
  
  .footer_listName_mob {
    font-weight: normal;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0;
  }
  
  .title_mobile {
    display: none;
  }
  
  .messengers_mobile {
    flex-direction: row;
    gap: 1.5rem;
  }
  
  .footer_arrow {
    display: block;
    width: 1.5rem;
  }
}