.personalData {
  grid-column: 1;
  grid-row-start: 3;
  grid-row-end: 4;
  max-width: 100rem;
  width: 100%;
  justify-self: center;
  margin: 10px 0 100px;
}

.personalData_title {
  margin: 0;
}

.personalData_contain {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.personal_information {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  width: 100%;
}

.dataUser {
  display: flex;
  flex-direction: column;
  margin: 30px 0 10px 0;
}

.notifications_checkbox {
  display: flex;
  gap: 12px;
}

@media (max-width: 700px) {
  .personalData_contain {
    flex-direction: column-reverse;
    gap: 0;
  }
  .personalData{
    margin: 10px 0 0
  }
}